body{
    background-color: rgb(227, 194, 151);
    margin: 0;
}


nav{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(208, 10, 208);
    margin: 0;
    color: azure;
    font-size: 24px;
    font-weight: 800;
    padding: 0;
    border: 1px solid black;
}

a{
    position: relative;
    left: 250px;
    display: flex;
    justify-content: space-evenly;
    color: azure;
    text-align: end;
    row-gap: 50px;
    text-decoration: none;
    border: 1px solid black;
}

.container{
    display: block;
    text-align: center;
    font-size: 20px;
}

h1{
    text-align: center;
}

.intro p{
    text-align: center;
    font-size: 24px;
}

.engine{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .g {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.end{
    display: flex;
    flex-direction: column;
}